@using Silpo.Core.DTO_s.Product;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;
@using X.PagedList;
@model IPagedList<ProductDto>
@{
    ViewData["Title"] = "Home page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .looplist {
        display: grid;
        grid-gap: 0px;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        position: relative;
        clear: both;
    }
</style>

<div class="content-wrapper">
    <section class="content-header">
        <div class="container-fluid">
            <h2 class="text-center display-4">Search</h2>
        </div>
    </section>
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form method="post" asp-action="Search" asp-controller="Home">
                        <div class="input-group input-group-lg">
                            <input type="search" name="searchString" class="form-control form-control-lg" placeholder="Search...">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-lg btn-default">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row mt-3">
                <div>
                    <div class="looplist">
                        @foreach (var item in Model)
                        {
                            <div class="card" style="width: 18rem;">
                                <div class="col-auto">
                                    @if (item.ImagePath == "Default.png")
                                    {
                                        <img class="card-img-top" src="~/images/goods/Default.png" alt="Photo" style="max-height: 160px;">
                                    }
                                    else
                                    {
                                        <img class="card-img-top" src="~/images/goods/@item.ImagePath" alt="Photo" style="max-height: 160px;">
                                    }
                                </div>
                                <div class="card-body">
                                    <h3 class="card-title">@item.Title</h3>
                                    <h4 class="card-text text-muted">@item.Price UAH</h4>
                                    <a asp-controller="Product" asp-action="ProductsByCategory" asp-route-id="@item.CategoryId" class="btn btn-default btn-sm">@item.CategoryName</a>
                                    <div class="float-right mb-2 mt-4">
                                        <a asp-controller="Home" asp-action="ProductDetail" asp-route-id="@item.Id" class="btn btn-block btn-primary d-inline">More</a>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="dataTables_paginate paging_simple_numbers" id="example2_paginate">
                            @Html.PagedListPager(Model, page => Url.Action("index", new { page = page }), new PagedListRenderOptions()
                            {
                            ActiveLiElementClass = "active",
                            PageClasses = new[]{ "page-link"},
                            LiElementClasses=new[] { "page-item" },
                            UlElementClasses = new[] { "pagination","justify-content-center", "mt-3" },
                            LinkToNextPageFormat = "Next",
                            LinkToPreviousPageFormat = "Prev",
                            MaximumPageNumbersToDisplay = 3,
                            DisplayLinkToPreviousPage = PagedListDisplayMode.Never,
                            DisplayLinkToNextPage = PagedListDisplayMode.Never
                            })
                        </div>
                        @if (Model.Count() <= 0)
                        {
                            <h2>No posts were found for your query.</h2>
                        }
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
